
            h1{
                color: red;
                margin: 30px;
            
            }
            .op{
              background-color:#000;
              padding-left: 50px;
            }
            .menu{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font: size 15px;;
            }
            *{
                color: teal;
            }
            .grid{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin-block-end: 30px;
                
            }
            .footer{
                display: flex ;
            justify-content:flex-end;
            align-items:unset;

            }
            body{
                background-color: #000 ;
            }